/TuyenSinh/nbproject/private/
/Bai4/nbproject/private/
/Bai5/nbproject/private/
/Bai6/nbproject/private/
/Bai7/nbproject/private/
/Bai8/nbproject/private/
/Bai9/nbproject/private/
/Bai8/build/
/Bai4/build/
/Bai10/nbproject/private/
/JavaReview/build/
/Bai2/build/
/Bai3/build/
/Bai6/build/
/Bai5/build/
/Bai7/build/
